/* HOME PAGE CSS STYLING */
html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

.navbar {
    background-color:white;
    overflow: hidden;
  }

.navbar a {
  display: flex;
  justify-content: space-between;
  float: left;
  color: #715d8d;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
    border-bottom: 3px solid #715d8d;
  }
  
.navbar a.active {
    border-bottom: 3px solid #715d8d;
  }


h1{
  font-size: 30pt; /* 3.3vw */
  text-align: center;
  float: right;
  margin: auto;
  width: 80%;
  padding-bottom: 18px;
  padding-right: 10%;
}

.container{

  display: flex;
  align-items: center;
  width: 90%;
  padding-right: 40px;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.image {
  padding-left: 140px;
  position: relative;
  left: 5%;
  display: flex;
  object-fit: cover;
  object-position: bottom;

}

.headshot {
  border-radius: 10%;
  width: 25vw;
  
}

.headshot:hover {
box-shadow:5px 5px 15px -2px #715d8d;
}

h2{
    font-size: 20pt;
    text-align: center;
    float: right;
    margin: auto;
    width: 80%;
    padding-bottom: 24px;
    padding-right: 10%;
}

p{
    float: right;
    margin: auto;
    width: 80%;
    padding-bottom: 25px;
    font-size: 16px;
    padding-right: 5%;
    text-align: center;
}

/*.button {
  float: right;
  margin: auto;
  padding-top: 335px ;
}*/

.resume {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  border-radius: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 10pt;
  text-decoration: none;
  border: 2.5px solid #715d8d;
  transition-duration: 0.4s;
}

.resume:hover {
  color: white;
  background-color: #715d8d;
  box-shadow:5px 5px 15px -2px #715d8d;
}

/* PROJECTS PAGE CSS STYLING */

/* PROJECT 1 STYLING */

.portal {
  width: 350px;
  height: auto;
  border-radius: 7%;
  position: absolute;
  left: 50px;
  bottom: 390px;
}

.title1 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 600px;
font-size: 15pt;
position: absolute;
left: 415px;
bottom: 550px;
}

.italics1 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 415px;
bottom: 540px;
}

.list1 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 400px;
bottom: 450px;
width: 850px;
}

.learn1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 10pt;
  position: absolute;
  width: 90px;
  height: 35px;
  left: 426px;
  bottom: 420px;
  text-decoration: none;
  border: 2.5px solid #715d8d;
  transition-duration: 0.4s;
}

.learn1:hover {
  color: white;
  background-color: #715d8d;
  box-shadow:5px 5px 15px -2px #715d8d;
}

.project1 {
  border: 2.5px solid #715d8d;
  height: 239px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 110px;
  transition-duration: 0.4s;
}

.project1:hover {
  box-shadow:5px 5px 15px -2px #715d8d;
}

/* PROJECT 2 STYLING */

.hackathon {
width: 350px;
height: auto;
border-radius: 7%;
position: absolute;
left: 50px;
bottom: 125px;
}

.title2 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 600px;
font-size: 15pt;
position: absolute;
left: 415px;
bottom: 268px;
}

.italics2 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 415px;
bottom: 257px;
}

.list2 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 400px;
bottom: 170px;
width: 850px;
}

.learn2 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 400;
border-radius: 10px;
background-color: white;
text-align: center;
color: black;
font-size: 10pt;
position: absolute;
width: 90px;
height: 35px;
left: 426px;
bottom: 140px;
text-decoration: none;
border: 2.5px solid #715d8d;
transition-duration: 0.4s;
}

.learn2:hover {
color: white;
background-color: #715d8d;
box-shadow:5px 5px 15px -2px #715d8d;
}

.project2 {
border: 2.5px solid #715d8d;
height: 223px;
border-radius: 10px;
margin-top: 40px;
margin-left: 25px;
margin-right: 110px;
transition-duration: 0.4s;
}

.project2:hover {
box-shadow:5px 5px 15px -2px #715d8d;
}

/* PROJECT 3 STYLING */

.hope {
width: 205px;
height: auto;
border-radius: 7%;
position: absolute;
left: 50px;
bottom: -137px;
}

.title3 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 600px;
font-size: 15pt;
position: absolute;
left: 273px;
bottom: 5px;
}

.italics3 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 273px;
bottom: -14px;
}

.list3 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 260px;
bottom: -95px;
width: 850px;
}

.learn3 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 400;
border-radius: 10px;
background-color: white;
text-align: center;
color: black;
font-size: 10pt;
position: absolute;
width: 90px;
height: 35px;
left: 285px;
bottom: -125px;
text-decoration: none;
border: 2.5px solid #715d8d;
transition-duration: 0.4s;
}

.learn3:hover {
color: white;
background-color: #715d8d;
box-shadow:5px 5px 15px -2px #715d8d;
}

.project3 {
border: 2.5px solid #715d8d;
height: 223px;
border-radius: 10px;
margin-top: 40px;
margin-left: 25px;
margin-right: 110px;
transition-duration: 0.4s;
}

.project3:hover {
box-shadow:5px 5px 15px -2px #715d8d;
}

/* PROJECT 4 STYLING */

.personalpro {
width: 350px;
height: auto;
border-radius: 7%;
position: absolute;
left: 50px;
bottom: -377px;
}

.title4 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 600px;
font-size: 15pt;
position: absolute;
left: 415px;
bottom: -280px;
}

.italics4 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 415px;
bottom: -300px;
}

.list4 {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
position: absolute;
left: 405px;
bottom: -335px;
width: 850px;
}

.learn4 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 400;
border-radius: 10px;
background-color: white;
text-align: center;
color: black;
font-size: 10pt;
position: absolute;
width: 90px;
height: 35px;
left: 427px;
bottom: -365px;
text-decoration: none;
border: 2.5px solid #715d8d;
transition-duration: 0.4s;
}

.learn4:hover {
color: white;
background-color: #715d8d;
box-shadow:5px 5px 15px -2px #715d8d;
}

.project4 {
border: 2.5px solid #715d8d;
height: 200px;
border-radius: 10px;
margin-top: 45px;
margin-left: 25px;
margin-right: 110px;
transition-duration: 0.4s;
}

.project4:hover {
box-shadow:5px 5px 15px -2px #715d8d;
}


/* FOOTER CSS STYLING */
footer {
  position: fixed;
  right: 0;
  bottom:0;
  left:0;
  background-color: #715d8d;
  text-align: center;
  padding-bottom: 0.5px;

}

 .connect {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 17pt;
  color: white;
  margin-right: 1.4em;
  margin-bottom: 0.1em;
  margin-top: 0.4em;
}

.fa-linkedin-in, .fa-envelope, .fa-github, .fa-file {
  font-size: 30px;
  color: white;
  margin-right: 1em;
  margin-bottom: 0.3em;
  text-decoration: none;
}

.fa-linkedin-in:hover, .fa-envelope:hover, .fa-github:hover, .fa-file:hover{
  opacity: 0.7;
}