* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #e7dbd3;
  --dot-bg: #e7dbd3;
  --dot-color: #4b2748;
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.box {
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
  border-color: #4b2748;
  border-style: double;
  border-width: 5px;
  background-color: white;
}

.intro {
  margin-top: 85px;
}

h1 {
  color:#4b2748;
  margin-top: -15px;
  font-size: 28pt;
}

.second {
  color:#4b2748;
  margin-top: -15px;
  margin-bottom: 45px;
}

h2 {
  font-size: 22pt;
  margin-bottom: -2px;
}


h1, h2, h3{
  color:#4b2748;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;

}

p {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

ul{
  font-family: 'Libre Franklin', sans-serif;
  list-style-type: disc;

}

.p1, .p2, .p3, .p4 {
  text-decoration: none;
  color: black;
  font-weight: 700;
  position: relative;
}

.p1::before,  .p2::before, .p3::before, .p4::before{
  content: '';
  background-color: #bf9fbd;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

li {
  margin-bottom: 7px;
}


.fa-linkedin-in, .fa-envelope, .fa-github, .fa-file {
  font-size: 25px;
  color: #4b2748;;
  margin-right: 1em;
  text-decoration: none;
}

.fa-linkedin-in:hover, .fa-envelope:hover, .fa-github:hover, .fa-file:hover{
  opacity: 0.7;
}

img {
  flex-basis: 50%;
  position: relative;
  width: 40%;
  display: block;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.projects{
  margin: auto;
  margin-top: 50px;
  max-width: 700px;
  font-family: 'Libre Franklin', sans-serif;
}



/* FOOTER CSS STYLING */
footer {
  position: sticky;
  width: 100%;
  background-color: #4b2748;
  text-align: center;
  padding-bottom: 0.5px;
  padding-top: 1px;
}

 .connect {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 17pt;
  color: white;
  margin-right: 1.4em;
  margin-bottom: 0.1em;
  margin-top: 0.4em;
}

.fa-linkedin-in, .fa-envelope, .fa-github {

  font-size: 30px;
  color: white;
  margin-right: 1em;
  margin-bottom: 0.3em;
  text-decoration: none;
}

.fa-linkedin-in:hover, .fa-envelope:hover, .fa-github:hover, .fa-file:hover{
  opacity: 0.7;
}
