html{
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

.navbar {
    background-color:white;
    overflow: hidden;
  }

.navbar a {
  display: flex;
  justify-content: space-between;
  float: left;
  color: #715d8d;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 25px;
  margin: 7px;
}

.navbar a:hover {
    border-bottom: 3px solid #715d8d;
  }
  
.navbar a.active {
    border-bottom: 3px solid #715d8d;
  }


h1{
  font-size: 30pt; /* 3.3vw */
  text-align: center;
  float: right;
  margin: auto;
  width: 80%;
  padding-bottom: 18px;
  padding-right: 10%;
}


.maincontainer{

  align-items: center;
  width: 90%;
  padding-right: 40px;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.image {
  flex-basis: 55%;
  padding-left: 12%;
  position: relative;
  left: 5%;

}

.headshot {
  border-radius: 10%;
  max-width: 100%;
}

.headshot:hover {
box-shadow:5px 5px 15px -2px #715d8d;
}

h2{
    font-size: 20pt;
    text-align: center;
    float: right;
    margin: auto;
    width: 80%;
    padding-bottom: 24px;
    padding-right: 10%;
}

p{
    float: right;
    margin: auto;
    width: 80%;
    padding-bottom: 25px;
    font-size: 16px;
    padding-right: 5%;
    text-align: center;
}

.text {
  margin-top: 12px;
}

.resume {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  border-radius: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 10pt;
  text-decoration: none;
  border: 2.5px solid #715d8d;
  transition-duration: 0.4s;
}

.resume:hover {
  color: white;
  background-color: #715d8d;
  box-shadow:5px 5px 15px -2px #715d8d;
}

/*PROJECTS PAGE CSS STYLING*/

:root {
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem;
}

.container:hover {
  box-shadow:5px 5px 15px -2px #715d8d;
  transition-duration: 0.4s;
  }

.portfolioimg {
  align-items: center;
  height: 12rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

em {
  text-align: center;
}

.description {
  margin: 1rem;
  font-size: 0.9rem;
  text-align: left;
}

.btn {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  border-radius: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 10pt;
  text-decoration: none;
  border: 2.5px solid #715d8d;
  transition-duration: 0.4s;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #715d8d;
  box-shadow:5px 5px 15px -2px #715d8d;
  }

body {
  min-height: 100vh;
}

/* FOOTER CSS STYLING */
footer {
  position: sticky;
  top: 100%;
  background-color: #715d8d;
  text-align: center;
  padding-bottom: 0.5px;
  padding-top: 1px;
}

 .connect {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 17pt;
  color: white;
  margin-right: 1.4em;
  margin-bottom: 0.1em;
  margin-top: 0.4em;
}

.fa-linkedin-in, .fa-envelope, .fa-github, .fa-file {
  font-size: 30px;
  color: white;
  margin-right: 1em;
  margin-bottom: 0.3em;
  text-decoration: none;
}

.fa-linkedin-in:hover, .fa-envelope:hover, .fa-github:hover, .fa-file:hover{
  opacity: 0.7;
}